body {
	background-color: black;
}

a:link {
	color: #67023D;
}

a:visited {
	color: #67023D;
}
 
a:hover {
	color: #67023D;
}

a:active {
	color: #67023D;
}

h1, p {
    font-size: 2vw;
    color: white;
}